.container {
  position: absolute;
  left: 30px;
  top: 50%;
  z-index: 10; /* Ensures it's above other content */
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #000; /* Black bubble */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Shadow to make it floating */
  overflow: hidden; /* Ensures the image doesn't overflow outside the bubble */
}

.warningImage {
  object-fit: contain;
}