.modalContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .selectDevice {
    margin: 10px;
    width: 100%;
    box-sizing:content-box;
    align-self: flex-end;
  }
  
  .confirmButton {
    margin: 10px;
    align-self: flex-end;
  }